<div class="create-form">
  <form class="form">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Price</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput />
    </mat-form-field>

    <div class="file-input">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Choose File
      </button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" />
      <span class="file-name">{{ selectedFile?.name }}</span>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Cars</mat-label>
      <mat-select matNativeControl required>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary">Submit</button>
  </form>
</div>
