.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
  max-width: 1200px;
  margin: 0 auto;

  img {
   flex: 1
  }

  .description{
    flex: 0.7
  }
}


@media screen and (max-width: 1028px) {
  img{
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .card{
    flex-flow: column wrap;
  }
  img{
    width: 100%;
  }
}